.experience-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 2rem 0;
}

.experience-section > h2 {
  grid-column-start: 2;
  grid-column-end: 12;
  margin: 0.5rem 0;
  font-size: var(--fs-lg);
}

.about-container {
  grid-column-start: 2;
  grid-column-end: 8;
}

.about-container p {
  font-size: var(--fs-sm);
  margin-top: 0;
  margin-bottom: 1.2rem;
  font-weight: 300;
}

.link-in-text {
  font-weight: 500;
}

.experience-container,
.training-container {
  grid-column-start: 2;
  grid-column-end: 12;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.experience-container {
  margin-bottom: 2rem;
}

.experience-container > div,
.training-container > div {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: #e3e3c6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
}

.experience-container > div.animate,
.training-container > div.animate {
  animation: popIntoView 0.7s forwards;
}

.experience-container > div p,
.training-container > div p {
  font-size: 1.3rem;
  margin: 0;
  margin-top: 15px;
}

@keyframes popIntoView {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .experience-container,
  .training-container {
    justify-content: space-around;
  }
}

@media (max-width: 1100px) {
  .about-container {
    grid-column-start: 2;
    grid-column-end: 12;
  }
}

@media (max-width: 587px) {
  .experience-container,
  .training-container {
    justify-content: center;
    gap: 10px;
  }

  .experience-section > h2 {
    align-self: center;
    text-align: center;
  }

  .experience-container > div,
  .training-container > div {
    width: 100px;
    height: 75px;
    padding: 10px;
  }

  .experience-container > div p,
  .training-container > div p {
    font-size: 1rem;
    margin-top: 15px;
  }
}

@media (max-width: 561px) {
  .experience-section > h2 {
    align-self: center;
    text-align: center;
  }
}
