@import url(./headingAnimation.css);
@import url(./textAnimation.css);

.intro-section {
  height: 100vh;
}

.intro-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: calc(100% - 70px);
  padding-bottom: 1rem;
}

.intro-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 7;
  height: 90%;
}

.intro-content-text-top {
  font-size: var(--fs-xl);
}

.intro-span-text {
  margin: 0;
  margin-right: 1rem;
  font-size: var(--fs-lg);
  text-align: end;
  justify-self: end;
}

.intro-span-text span {
  display: block;
  padding-right: 10px;
  opacity: 0;
  /*   background: var(--linear-gradient-text);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  background-position: -90%;
  animation: background-move 3s forwards 3.4s; */
}

/* @keyframes background-move {
  from {
    background-position: 120%;
  }
  to {
    background-position: -90%;
  }
} */

.intro-span-text span:nth-child(1) {
  font-size: var(--fs-lg);
  font-weight: 900;
}

.intro-span-text span:nth-child(2) {
  font-size: var(--fs-md);
}

.intro-span-text span:nth-child(3) {
  font-size: var(--fs-xl);
  font-weight: 300;
}

.intro-content-bg {
  grid-column-start: 7;
  grid-column-end: 12;
  min-height: 90%;
  width: 100%;
  align-self: center;
  background-image: url(../../../images/profile/profile-img.jpeg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  position: relative;
}

@media (max-width: 1200px) {
  .intro-content {
    grid-template-rows: auto 1fr;
  }

  .intro-text-container {
    grid-column-end: 12;
    margin-top: 2rem;
  }

  .intro-content-text-bottom p {
    margin: 0;
    margin-right: 1rem;
    font-size: var(--fs-lg);
    text-align: start;
    justify-self: end;
  }

  .intro-span-text span {
    display: inline-block;
  }

  .intro-content-bg {
    min-height: 100%;
    grid-row-start: 2;
    grid-column-start: 2;
    background-position: left;
  }
}
